<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
 <p>
    Splurty was built by <a target="_blank" href="http://github.com/BenZeero">Ben</a> with some instruction guidance from Ken and Marco.
    An UC-Berkeley extension coding bootcamp student who strive to be the very best.
  </p>
  <br />
  <p>
    With all the help from TAs to program coordinator, Ben is one step closer to be an software engineer.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ben YH Tai</h2>
      <br />
      <p>
        Ben is a manufacturing engineer who enrolled in UC Berkeley Extension coding bootcamp. His goal is to learn more about programming and hope to take this opportunity to make a career change. 
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
